{% extends 'blog/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  {% for post in news %}
    <div class="alert alert-light">
      <h1>{{ post.title }}</h1>
      <p>{{ post.text }}</p>
      <span class="text-muted">Публикация: {{ post.date|date:"j F Y, время: H:i:s" }}</span>
      {% if post.avtor %}
        <p><b>Автор:</b> <mark>{{ post.avtor }}</mark></p>
      {% else %}
        <p><b>Автор:</b> <mark>Админ</mark></p>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}

{% block aside_block %}
<h4 class="mt-2">Интересные статьи</h4>
<img src="https://itproger.com/img/news/1589893627.jpg" class="img-thumbnail">
<p>Для многих Python - это язык для написания веб проектов, машинного обучения или для анализа данных. На самом деле он более функционален и в этой статье мы вам это докажем.</p>

<a href="https://itproger.com/news/285" target="_blank">
  <button class="btn btn-warning">Посмотреть</button>
</a>

<img src="https://itproger.com/img/news/1591879929.jpg" class="img-thumbnail mt-4">
<p>Уже не первый год слышно много положительных отзывов про движок Godot. Пришло время узнать больше об этом движке и выяснить почему он столь популярен.</p>

<a href="https://itproger.com/news/285" target="_blank">
  <button class="btn btn-warning">Посмотреть</button>
</a>
{% endblock %}
